/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
}

#appContainer.container {
    max-width: 1140px;
}

#appContainer .dynatable-pagination-links a {
    color: #0275d8;
    text-decoration: none;
}

#appContainer .dynatable-pagination-links a:hover {
    color: #014c8c;
} 

#appContainer .dynatable-head a {
    color: #0275d8;
}

#appContainer .dynatable-active-page, #appContainer .dynatable-active-page:hover {
    background: #0275d8;
    border-radius: 5px;
    color: #fff !important;
}

.dynatable-pagination-links a.dynatable-disabled-page, .dynatable-pagination-links a.dynatable-disabled-page:hover {
    color: #98b5ce;
}

.btn {
    cursor: pointer;
}

.get-readings-btn {
    background: #0275d8;
    color: #fff;
}

.get-readings-btn:hover {
    background: #0265bb;
}

.filter-contents {
    padding: 15px 0px;
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
}

.filter-contents .col-lg-12 {
    margin-bottom: 10px;
}

.filter-contents .chart-data-block {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f9f9f9;
}

#chartDataContainer {
    display: none;
}

#chartsHolder [id^=myChart] {
    display: none;
}

.filter-contents .chart-data-block .head {
    color : #636c72;
    font-weight: bold;
    font-size:18px;
    padding-top:10px;
}

.filter-contents .chart-data-block .content {
    padding-bottom: 10px;
}

.filter-contents .heading {
    color : #636c72;
    font-weight: bold;
    font-size:20px;
}

.filter-contents .filter-block {
    float:left;
    margin-right:10px;
}

.filter-contents .filter-block button {
    margin-top: -5px;
}

#appContainer [id^=readingsTableContainer] {
    display: none;
}

#bltSwitch {
    height: 48px;
}

#bltSwitch .blt-switch-label {
    float: left;
    height: 30px;
    line-height: 30px;
}

.sensor-readings-container {
    margin-top: 15px;
    width: 100%;
    position: relative;
    float: left;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 450px;
}

.sensor-readings-container .sensor-readings-label {
    color: #636c72;
    font-weight: bold;
    font-size: 20px;
    float: left;
}

.sensor-readings-container #readings {
    float: left;
    margin-left: 10px;
    width: 700px;
    padding-top: 2px;
}

.sensor-readings-container #readings .gps-reading {
    float: left;
    width: 100%;
    font-size: 18px;
}

.gmapButton {
    background-image: url('https://maxcdn.icons8.com/Color/PNG/512/Logos/google_maps-512.png');
    background-size:contain;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 10px;
}

.sk-circle {
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    display: none;
    margin-left: 15px;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}